@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&display=swap");
/*---------------------global----------------------------*/
* {
  font-family: "Edu VIC WA NT Beginner", cursive;
  line-height: 150%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #fff8f3;
}
img {
  max-width: 100%;
}
/*-----------------navigation bar--------------------*/
.top_menu {
  position: fixed;
  width: 100%;
}

.menu {
  background: linear-gradient(
    180deg,
    rgba(180, 119, 65, 0.7) 0%,
    rgba(255, 211, 172, 0.7) 95%
  );

  padding: 0.5rem;
  box-shadow: 0 0 2rem silver;
}
.menu li {
  display: inline-block;
}

.menu a {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: aliceblue;
  transition: 0.3s;
}
.menu a:hover {
  font-size: 1.2rem;
  color: #000000;
}

.menu a:hover span {
  color: #b47741;
  font-weight: 500;
}

/*---------------------image----------------------------*/
.home_img {
  width: 100%;
  padding-top: 2.5rem;
}
.home_img img {
  max-width: 100%;
}

/*---------------------header----------------------------*/
.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_text {
  font-size: 1.2rem;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  color: #ffcb9c;
  display: inline-block;
  background-color: #b47741;
  border-radius: 20px;
  text-shadow: 0 0 1rem black;
}

/*---------------------box----------------------------*/

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: purple; */
  /* padding: 10px; */
}

.box_left {
  display: inline-block;
  width: 40%;
  margin: 20px 20px 0 20px;
  /* background: black; */
}

.box_right {
  display: inline-block;
  width: 40%;
  margin: 20px 20px 0 20px;
  /* background: blue; */
}

.box_right_bottom {
  margin-bottom: 2rem;
}

.content {
  border: 2px solid rgb(87, 50, 50);
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
  color: #000000;
  box-shadow: 0 0 1.3rem black;
}

.content h4 {
  font-size: 1.25rem;
}

.content img {
  width: 100%;
}

.box {
  margin-bottom: 2rem;
}

/*---------------------footer----------------------------*/
.footer {
  min-height: 8rem;
  font-size: 1.2rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2),
    rgba(180, 119, 65, 0.7)
  );
  text-align: center;
}

.footer h3 {
  color: #ffcb9c;
  text-shadow: 0 0 1rem #000000;
  margin-bottom: 1.5rem;
}

.footer .contact {
  font-size: 1rem;
  align-self: center;
  font-weight: 500;
  color: rgb(87, 50, 50);
  background: linear-gradient(
    rgba(180, 119, 65, 0.7) 20%,
    rgba(255, 211, 172, 0.7) 100%
  );
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}

.footer .autor {
  margin-top: 0.5rem;
  color: rgba(85, 85, 85, 0.7);
}

/*---------------------media----------------------------*/
@media (max-width: 700px) /*At less of 700px width*/ {
}
